<h4>Listado</h4>

<ul class="list-group">
  <li *ngFor="
  let character of characterList;
  let i = index;
  let isFirst = first
  let isLast = last
  "
  class="list-group-item d-flex justify-content-between align-items-center" [ngClass]="{
    'list-group-item-success': isLast,
    'list-group-item-dark': isFirst
  }">

  <div>

  </div>
  <span class="text-primary"> {{ i + 1 }}. </span>
  <strong>{{ character.name }} - </strong>
  <span> Power: </span>
  <span>{{ character.power }}</span>

  <button class="btn btn-danger" (click)="onDeleteCharacter(character.id)">X</button>

  </li>
</ul>
