<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd> {{ name }} </dd>

  <td>Edad:</td>
  <dd> {{ age }} </dd>

  <td>Metodo:</td>
  <dd> {{ getHeroDescription() }} </dd>

  <td>Capitalizado:</td>
  <dd> {{ capitalizedName }}</dd>
</dl>


<button
*ngIf="true"
(click)="changeHero()"
 class="btn btn-primary mx-2">
  Cambiar Nombre
</button>

<button (click)="changeAge()" class="btn btn-primary mx-2">
  Cambiar edad
</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">
  reset
</button>

