<h4>Agregar Personaje</h4>

<form class="row" (ngSubmit)="emitCharacter()">
  <input type="text"
   [(ngModel)]="character.name"
   name="name"
   class="form-control mb-2"
   placeholder="Nombre">

  <input type="number"
  [(ngModel)]="character.power"
  name="power"
   class="form-control mb-2"
    placeholder="Poder">

  <button type="submit" class="btn btn-primary" (click)="emitCharacter()">
    Agregar
  </button>

  <!-- <pre>{{ character | json }}</pre> -->

</form>
