<h1>DBZ peronajes</h1>
<hr>


<div class="row">
  <div class="col">

    <app-dbz-list [characterList]="characters" (onDelete)="onDeleteCharacter($event)"></app-dbz-list>
  </div>
  <div class="col">

    {{ characters }}

    <app-add-character (onNewCharacter)="onNewCharacter($event)"></app-add-character>

  </div>
</div>
